<h1>おつまみ一覧</h1>
<div class="row">
	<div class="col-xs-2">
		<h5>ジャンルで探す</h5>
		<h5><%= link_to "すべてのジャンル", otumamis_path %></h5></h5>
		<% @otumami_genres.each do |otumami_genre| %>
			<h5 class="genrelist"><%= link_to otumami_genre.name, otumamis_path(otumami_genre_id: otumami_genre.id) %></h5>
		<% end %>
	</div>

	<div class="col-xs-10 otumami-index">
		<% if params[:otumami_genre_id] %>
		    <div class="otumami-title"><h4><%= @otumami_genre.name %></h4><p>(全<%= @otumamis.count %>件)</p></div>
		<% else %>
		　　　<div class="otumami-title-all"><h4>すべてのジャンル</h4><p>(全<%= @otumamis.count %>件)</p></div>
		<% end %>

		<% @otumamis.each do |otumami|%>
    	    <div class="otumami">
	    	    <%= link_to otumami_path(otumami.id) do %>
	    	    	<figure class="otumami-image"><%= attachment_image_tag(otumami, :image, :fill, 200, 200)%></figure>
	    	    	<% end %><br>
	    	    	<p><%= otumami.title%></p>
    	    </div>
    	<% end %>
	</div>
</div>