<h2>おつまみ投稿</h2>
<div class="row">

	<%= form_for(@otumami) do |f| %>
		<div class="col-xs-2"></div>
		<div class="col-xs-4">
		<h4>画像</h4>
			<%= f.attachment_field :image %>
		</div>
		<div class="col-xs-6">
			<h4>タイトル</h4>
			<%= f.text_field :title %>

			<h4>説明文</h4>
			<%= f.text_field :body %>

			<h4>ジャンル</h4>
			<%= f.collection_select :otumami_genre_id, OtumamiGenre.all, :id, :name, :prompt => "選択して下さい" %>
		</div>
</div>
<div class="row">

	<div class="col-xs-5"></div>
	<div class="col-xs-7">
		<%= f.submit '投稿', class: "btn btn-primary col-xs-3" %>
	</div>

</div>
	<% end %>